[Unit]
Description=Pegasus ROS2 
After=network.target

[Service]
User=pegasus
WorkingDirectory=/home/pegasus
ExecStart=/bin/bash /home/pegasus/pegasus_drone/pegasus/src/pegasus_drone/scripts/launch.bash
ExecStop=/usr/bin/tmux kill-session -t ros
Restart=no
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target